{%extends 'base/base.html.twig'%}
{% block body %}

<t1>Quai Antique</t1>
<p> Bienvenue au Quai Antique, un endroit unique pour découvrir la gastronomie française. Notre chef utilise des ingrédients frais et locaux pour créer des plats savoureux et inspirants qui raviront vos papilles.
</p>
{% endblock %}
