{%extends 'base/base.html.twig'%}
{% block body %}

{% for flashMessage in app.flashes('success') %}
    <div class="alert alert-success">{{ flashMessage }}</div>
{% endfor %}

<div class="jumbotron jumbotron-fluid">
<div class="imghome">
  <div class="container text-center">
    <h1 class="display-4">Bienvenue au Quai Antique</h1>
    <p class="lead">Un endroit unique pour découvrir la gastronomie française.</p>
    <p class="lead">Notre chef utilise des ingrédients frais et locaux pour créer des plats savoureux et inspirants qui raviront vos papilles.</p>
    <a class="btn btn-warning text-black btn-lg" href="{{ path('app_booking') }}" role="button">Réservation</a>
  </div>
  <br>
  </div>
</div>
  <div id="map"></div>
{% endblock %}
