{% extends 'base/base.html.twig' %}

{% block body %}
<div class="container2">
        <h1>Galerie d'images</h1>
        <p>Plats favoris du Grand Chef Michant</p>

    <div class="gallery">
        <div class="grid-container">
            {% for image in images %}
                <div class="grid-item">
                    <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.titre }}" >
                    <div class="title">{{ image.titre }}</div>
                </div>
       {% endfor %}     
    </div>
    <br>
        <a class="btn btn-warning text-black btn-lg" href="{{ path('app_booking') }}" role="button">Réservation</a>
{% endblock %}