@import "~bootstrap/scss/bootstrap";


body {
    background-color: rgb(236, 235, 235);
}
li {
    list-style-type: none;
  }

  .bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
    $container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

    /*@media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
    }*/